*{
  
}
pre{
    margin: 10px 0;
}
h4{
    padding:20px 0;
    color: darkblue;    
}
.wrap{
    background-color: var(--wrap--bg--color);
}
:root{
    --h2--color: darkred;
    --text--color: black;
    --wrap--bg--color: #EEEEEE;
    --container--color: white;
    --example--color: blue;
}
.dark-theme{
    --example--color: #259CD8;
    --h2--color: yellow;
    --text--color: white;
    --wrap--bg--color: #222529;
    --container--color: black;
}

.navbar{
    background-color: var(--wrap--bg--color);
 
}
.navbar .dropdown a{
    color: var(--text--color)
}
.container{
    background-color: var(--container--color);
}



.content{
    /* box-shadow: -1px 4px 10px 5px #ddd; */
}
.content h2{
    font-family: 'Khmer M1';
    font-size: 26px;
    color:var(--h2--color   );
}
.content p{
    font-family: 'Khmer OS Siemreap';
    font-size: 18px;
    color: var(--text--color);
    line-height: 1.8;
}
.content li{
    font-family: 'Khmer OS Siemreap';
    font-size: 18px;
    line-height: 2;
}
.content img{
    padding:5px 0 25px 0;
    display: block;
    margin: 0 auto;
    width: 60%;
}

.content ol li{
    color:var(--text--color);
}
.content .example{
    font-family: 'Khmer OS Siemreap';
    font-size: 22px;
    color: var(--example--color);
    line-height: 1.8;
}
.item img{
    height: 200px;
    object-fit: cover;
}
.content .result{
    box-shadow: 1px 1px 3px 1px #999;
    border-radius: 5px;
    background-color: #ddd;
    padding: 20px ;
}
.content pre button{
    border-radius: 5px;
    background-color: #1068AF;
    color:white;
    border:none;
    padding: 8px 15px;
    float: right;
    font-size: 13pt;
}
.content pre button:hover{
    background-color: #FFCC33;
    transition: .3s ease-in-out;
}


/* ----footer--- */
.googlemap{
    width: 100%;

    display: flex;
    justify-content:center;
    align-items:center;
}
.googlemap iframe{
    
    width: 65%;
    /* filter: invert(100%); */
}
@media screen and (max-width:650px) 

{
    .item img{
        height: 300px;
        object-fit: cover;
      
    } 
    .content img{
        width:90%;
    }
}
