*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html{
   
    scroll-behavior: smooth;
}
pre{
    margin: 10px 0;
}
h4{
    padding:20px 0;
    color: darkblue;    
}
.wrap{
    background-color: var(--wrap--bg--color);
}
:root{
    --sidebar--bg:#E7E9EB;
    --code--bg:#E7E9EB;
    --h2--color: darkred;
    --text--color: black;
    --wrap--bg--color: #fff;
    --container--color: white;
    --example--color: red;
}
.dark-theme{
    --sidebar--bg:#15202B;
    --code--bg:#38444D;
    --example--color: white;
    --h2--color:darkred;
    --text--color: white;
    --wrap--bg--color: #222529;
    --container--color: #1D2A35;
}
.nav .nav-link{
    color: var(--text--color);
}
.navbar{
    background-color: var(--container--color);
}
.navbar .dropdown a{
    color: var(--text--color);
  
}
.navbar .dropdown-menu {
    border: 1px solid black;
}

.mynav a:hover{
    color: red; 
    border:1px solid #777;
    border-radius:50px;
}
.mynav .active{
    color: red; 
    border:1px solid #777;
    border-radius:50px;
}
.sidebar{
position: sticky;
top: 80px;
overflow-y: scroll;
height: 85vh;
    
}
.sidebar h4{
    position: sticky;
    top: 0px;
}
.sidebar ul li{
padding:0 0 0 15px;
border-bottom: 1px solid #999;
}
.sidebar ul li:hover a{
    background-color: #DEDEDE;
    color: red;

}
.sidebar ul li a{
    font-size: 20px;
    padding: 5px 5px;
    color: var(--text--color);
}

.container-fluid{
    /* position: relative; */
    width: 50%;
    background-color: var(--container--color);
}


/* --------------------content---------------------- */
.content{

  
}
.content h2{
    font-family: 'Khmer M1';
    font-size: 26px;
    color:var(--h2--color   );
}
.content p{
    font-family: 'Khmer OS Siemreap';
    font-size: 18px;
    color: var(--text--color);
    line-height: 1.8;
}
.content li{
    font-family: 'Khmer OS Siemreap';
    font-size: 18px;
    line-height: 2;
}
.content img{
    padding:5px 0 25px 0;
    display: block;
    margin: 0 auto;
    width: 60%;
}

.content ol li{
    color:var(--text--color);
}
.content .example{
    font-family: 'Khmer OS Siemreap';
    font-size: 22px;
    color: var(--example--color);
    line-height: 1.8;
    font-weight: bold;
}
.item img{
    height: 200px;
    object-fit: cover;
}
.content .result{
    box-shadow: 1px 1px 3px 1px #999;
    border-radius: 5px;
    background-color: #ddd;
    padding: 20px;
    margin-bottom: 20px;
}
.content pre button{
    border-radius: 5px;
    background-color: #1068AF;
    color:white;
    border:none;
    padding: 8px 15px;
    float: right;
    font-size: 13pt;
}
.content pre button:hover{
    background-color: #FFCC33;
    transition: .3s ease-in-out;
}
.content .code{
    background-color: var(--code--bg);
    padding: 20px;
    border-radius:5px;
    box-shadow:0px 0px 5px 1px #999;
    margin: 0 0 20px 0;
}

/* -----------------ads--------------- */

.ads{

}
.ads .stick{
    position:sticky;
    top: 130px;
}
/* ----footer--- */
.googlemap{
    width: 100%;

    display: flex;
    justify-content:center;
    align-items:center;
}
.googlemap iframe{
    
    width: 65%;
    /* filter: invert(100%); */
}

.googlemap iframe{
    box-shadow:1px 1px 10px 1px #999;
}
/* -------------footer------------- */


.icon ul li{
cursor:pointer;
}

/* -------------responsive----------- */
@media screen and (max-width:650px) 

{
    .item img{
        height: 300px;
        object-fit: cover;
      
    } 
    .content img{
        width:90%;
    }
    .wrap .sidebar{
        display: none;
        position: fixed;
        top:0;
        width:0px;
        background-color: #999;
        height: 100vh;
    }
    .content{
        /* box-shadow: -1px 4px 10px 5px #ddd; */
        /* position: relative; */
        margin: 0 auto;
 
    }
    .ads{
        display: none;
    }
}
